

<%= form_for(resource,:html=>{:class=>"form-signin"}, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><h2>Nova Conta</h2><%= f.email_field :email, :autofocus => true, :placeholder=>"Login" , :class=>"input-block-level input-xlarge"  %></div>


  <%= f.password_field :password , :autofocus => true, :placeholder=>"Senha" , :class=>"input-block-level input-xlarge"%></div>

  
  <%= f.password_field :password_confirmation , :autofocus => true, :placeholder=>"Repetir senha" , :class=>"input-block-level input-xlarge"%></div>

  <div><%= f.submit "Criar", :class=>"btn btn-large btn-primary"  %></div>
<% end %>


