<a href="/gerente/index" class="btn btn-link" ><b>Voltar</b></a>
<table cellpadding="5" cellspacing="0" class="table">
  <tr>
    <th>Cliente</th>
    <th>Maquina</th>
    <th>Pecas</th>
    <th>Observacoes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% 
odd_or_even = 0
@ordems.each do |ordem| 
odd_or_even = 1 -odd_or_even
%>
  <tr valign="top" class="ListLine<%=odd_or_even%>">
    <td><%= ordem.cliente.nome %></td>
	<td><%= ordem.maquina %></td>
    <td><%= ordem.pecas %></td>
    <td><%= ordem.observacoes %></td>
	
    
  </tr>
<% end %>
</table>